@import './helpers/variables';

$headerSize: 4.5rem;

.Nav {
    @extend %Flex-SpaceBetween;
    background-color: $colorPrimary;
    height: $headerSize;
    width: 100%;
    padding: 0 1.5rem;
    color: $colorWhite;

    .Title {
        padding: .7rem .7rem .7rem 1.7rem;
        border: 1px solid $colorWhite;
        color: $colorWhite;
        letter-spacing: 1rem;
        text-transform: uppercase;
    }
    .Links {
        display: flex;
        height: 100%;
        .Link {
            @extend %Flex-SpaceBetween;
            margin-left: 3rem;
            color: $colorWhite;
            height: 100%;
            flex-direction: column;

            &:before, &:after {
                display: block;
                content: '';
                height: 0;
                width: 0;
                background-color: $colorSecondary;
                transition: all 200ms ease-in-out;
            }
            &:after{margin-top: .2rem;}

            &:hover::after {
                height: .2rem;
                margin-top: 0;
                width: calc(100% + 3rem);
            }
        }
    }
}

.Content {
    background-color: $colorBg;
    height: calc(100vh - #{$headerSize});
    overflow-y: auto;
}